@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Source+Serif+4:opsz,wght@8..60,700&display=swap");
#mobytic-rgpd {
  --rgpd-btn-color-1: #ffdecf;
  --rgpd-btn-color-2: #8c471a;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15), 0px 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15), 0px 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 330px;
  border-radius: 8px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background-color: white;
}

@media (max-width: 768px) {
  #mobytic-rgpd {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: unset;
    border-radius: 8px 8px 0 0;
  }
}

#mobytic-rgpd .mobytic-rgpd-body {
  padding: 25px;
}

#mobytic-rgpd .mobytic-rgpd-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobytic-rgpd .mobytic-rgpd-body-header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: -50px;
}

#mobytic-rgpd .mobytic-rgpd-body-header .title h1 {
  margin: 0;
  font-family: 'Source Serif 4', serif;
  font-size: 24px;
}

#mobytic-rgpd .mobytic-rgpd-body-header .title h1 span {
  font-size: 28px;
}

#mobytic-rgpd .mobytic-rgpd-body-header .title h1 small,
#mobytic-rgpd .mobytic-rgpd-body-header .title h1 span {
  display: block;
}

#mobytic-rgpd .mobytic-rgpd-body-header .img {
  height: 100px;
  width: 100px;
  border-radius: 0 0 0 8px;
  overflow: hidden;
  background-image: url("cookie-bites.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -25px -25px 25px 0;
}

#mobytic-rgpd .mobytic-rgpd-body p {
  margin: 0;
  color: #666666;
}

#mobytic-rgpd .mobytic-rgpd-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#mobytic-rgpd .mobytic-rgpd-footer a {
  border-top: 1px solid #ededed;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

#mobytic-rgpd .mobytic-rgpd-footer a:last-child {
  background-color: var(--rgpd-btn-color-1);
  font-weight: bold;
}

#mobytic-rgpd .mobytic-rgpd-footer a:last-child:hover {
  background-color: var(--rgpd-btn-color-2);
  color: white;
}

.mobytic-rgpd-wrapper {
  font-family: 'Rubik', sans-serif;
}

.mobytic-rgpd-wrapper label {
  cursor: pointer;
}

.mobytic-rgpd-wrapper input {
  display: none;
}

.mobytic-rgpd-wrapper label.open {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: 0;
  left: 10px;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31), -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
}

.mobytic-rgpd-wrapper input[type="checkbox"]:checked + label.open {
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31), -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
}

.mobytic-rgpd-wrapper #mobytic-rgpd {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: opacity 10s, -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity 10s, -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 10s;
  transition: transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 10s, -webkit-transform 0.5s 0.5s cubic-bezier(0.99, 0.04, 0.57, 1.31);
}

@media (max-width: 768px) {
  .mobytic-rgpd-wrapper #mobytic-rgpd {
    -webkit-transform: scale3d(1, 0, 0);
            transform: scale3d(1, 0, 0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

.mobytic-rgpd-wrapper #mobytic-rgpd .mobytic-rgpd-body-header .title {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.5s;
  transition: transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
}

.mobytic-rgpd-wrapper #mobytic-rgpd .mobytic-rgpd-body p {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.5s;
  transition: transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.5s, -webkit-transform 0.5s 0.02s cubic-bezier(0.99, 0.04, 0.57, 1.31);
}

.mobytic-rgpd-wrapper input[type="checkbox"]:checked ~ #mobytic-rgpd {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: opacity, -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity, -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity;
  transition: transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity, -webkit-transform 0.5s 0.4s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  opacity: 1;
}

.mobytic-rgpd-wrapper input[type="checkbox"]:checked ~ #mobytic-rgpd .mobytic-rgpd-body-header .title {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.8s 0.8s;
  transition: transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  opacity: 1;
}

.mobytic-rgpd-wrapper input[type="checkbox"]:checked ~ #mobytic-rgpd .mobytic-rgpd-body p {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  transition: transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.8s 0.8s;
  transition: transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31), opacity 0.8s 0.8s, -webkit-transform 0.5s 0.6s cubic-bezier(0.99, 0.04, 0.57, 1.31);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */